<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/Components/footer.css') }}">
<footer>
    <div class="footer-container">
      <div class="footer-section about">
        <h3>About Us</h3>
        <p>
          We are a platform providing cutting-edge solutions for laboratory management and research development. Empower institutions with efficient High-End Equipments and streamlining processes and data management.
        </p>
      </div>
      
      <div class="footer-section links">
        <h3>Browse</h3>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/requests">Requests</a></li>
        </ul>
      </div>
  
      <div class="footer-section contact">
        <h3>Contact Us</h3>
        <p><i class="fa fa-map-marker"></i> GSFC University, Vadodara, Gujrat, India</p>
        <p><i class="fa fa-phone"></i> +91 9409045205</p>
        <p><i class="fa fa-envelope"></i>23sc06007@gsfcuniversity.ac.in</p>
        <div class="socials">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy;2025 HIA by GSFC University. All Rights Reserved.</p>
    </div>
  </footer> -->